*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html {
  display: flex; 
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: #000;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
svg {
	z-index: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}
.logosmall
{
    z-index:1;
    background-color: black;
    color: rgb(125, 52, 253);
    position: absolute;
    left: 5%;
    top: 1.5%;
    height: 1%;
    width: 1%;
}
.FourZeroFourText {
	z-index: 99999999999;
	mix-blend-mode: difference;
	color: white;
	font-size: 150px;
	position: fixed;
	left: 30%;
}